@inherits Custom.Hybrid.RazorTyped
@* FYI: this inherits from RazorTyped to use the latest APIs. Learn more on https://go.2sxc.org/cs-typed *@

<div @Kit.Toolbar.Default(MyItem)>

  <h1>App to develop the app.csproj</h1>

  <div class="alert alert-secondary">
    TODO: DOCS
  </div>

  <hr>

  <p>
    
  </p>
</div>