@inherits AppCode.Razor.AppRazor
@using ToSic.Razor.Blade
@using AppCode.Data
@{
  // Get current post to show from the View-Query + some Helpers
  var blogPost = As<BlogPost>(MyData);
}
<div @Kit.Toolbar.Default(MyItem)>

  <h1>App to develop the app.csproj extension</h1>

  <p>
    This contains the source for the app.csproj extension, which is a helper to create new apps based on the app.csproj template. It also contains the source for the app.csproj template itself, which is used to create new apps.
  </p>
</div>
